.project__container .project__img-inner {
  transition: transform 400ms ease-in-out;
}

.project__container:hover .project__img-inner {
  transform: scale(1.1);
}

@media (min-width: 768px) {
  .project__img {
    clip-path: polygon(20% 0, 100% 0, 80% 100%, 0 100%);
  }
}
