:root {
  --animation-play: false;
  --color-highlight: 233, 237, 179;
  --color-highlight-green: 50, 200, 160;
  --in-out-quint: cubic-bezier(0.19, 1, 0.22, 1);
  --out-quint: cubic-bezier(0.22, 1, 0.36, 1);
  --background: radial-gradient(
    circle at 50% 300vh,
    rgb(34, 52, 80, 1) 60%,
    rgb(70, 99, 146, 1) 80%,
    rgba(13, 21, 43, 1) 98%
  );
}

body {
  min-height: 100vh;
  background: var(--background);
}

.fade-in {
  opacity: 1;
  animation: fade-in 300ms ease-in-out;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-out {
  opacity: 0;
  animation: fade-out 300ms ease-in-out;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@font-face {
  font-family: "Just Dance Bold";
  src: url("/Just\ Dance\ Bold.ttf");
}

@font-face {
  font-family: "Just Dance Normal";
  src: url("/Just\ Dance\ Font\ Regular.ttf");
}
