.contact__links {
  animation: fadeIn 500ms;
}

@media (min-width: 640px) {
  .hero__divider {
    height: 2px;
    background: white;
    flex: 1 1 0;
    position: relative;
  }
}

@media (min-width: 768px) {
  .hero__divider::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 3px;
    top: 0;
    background-color: white;
  }

  .hero__divider-left::before {
    left: 0;
  }

  .hero__divider-right::before {
    right: 0;
  }

  .hero__divider::after {
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    transform: rotate(45deg);
    top: -1px;
    background-color: white;
  }

  .hero__divider-left::after {
    right: -1px;
  }

  .hero__divider-right::after {
    left: -1px;
  }
}
