.about__container {
  transition: all 200ms ease-in-out;
}

.about__divider {
  height: 1px;
  background: white;
  width: 100%;
  position: relative;
}

.about__divider::before,
.about__divider::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 3px;
  top: -1px;
  background-color: white;
}

.about__divider::before {
  left: -0.5rem;
}

.about__divider::after {
  right: -0.5rem;
}
