---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
---

<Layout title="Ray Chung | Software Engineer">
  <Navbar />
  <main></main>
</Layout>

<script>
  let resizeTimer: number;
  window.addEventListener("resize", () => {
    document.body.classList.add("resize-animation-stopper");
    clearTimeout(resizeTimer);
    resizeTimer = setTimeout(() => {
      document.body.classList.remove("resize-animation-stopper");
    }, 400);
  });
</script>

<style>
  .resize-animation-stopper * {
    animation: none !important;
    transition: none !important;
  }
</style>
